#badInputLabel {
    color: red;
    opacity: 0;
}

.labelDiv{
    justify-content: center;
    display: inline-block;
}
/*TODO find a way to center this label*/

.linkDiv{
    display: flex;
    justify-content: center;
}

.link {
    pointer-events: auto;
    color: black;
    display: inline-block;
    padding: 10px 20px;
    background-color: #4285f4;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.link:hover {
    color: black;
}

.inputDiv {
    display: flex; /*with this the line below doesnt work*/
    justify-content: space-evenly; /*placed the label on opposite sides*/
    margin: 10px;
}

.signsDiv {
    display: grid;
    width: 50%;
    margin: 10px;
}

.namesDiv {
    display: grid;
    width: 50%;
    margin: 10px;
}